html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	margin: 0;
	padding: 0;
}

ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color:inherit;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

h2 {
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	color: #868585;
}

h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	color: #303030;
}

button,
input,
textarea {
	font-family: inherit;
}

.container {
	max-width:1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/*header */

.header {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	padding: 70px 0 30px;
	text-align: center;
	color: #fff;
}

.header__logo {
	margin-bottom: 140px;
}

.header__text {
	font-size: 18px;
	line-height: 25px;
}

.header__title {
	font-weight: bold;
	font-size: 64px;
	line-height: 87px;
	margin-bottom: 3px;
}

.header__info {
	font-size: 42px;
	line-height: 57px;
	margin-bottom: 50px;
}

.header__btn {
	position: relative;
	margin-bottom: 250px;
}

.header__btn p {
	position: absolute;
    left: 42px;
    top: -25px;
    display: block;
    width: 200px;
}

.header__btn:hover.header__btn img{
	background: url('../images/header_hover1.png');
}

.social {
	margin-top: 250px;
}

.social__link + .social__link {
	margin-left: 20px;
}

/*services*/

.services {
	padding-top: 150px;
	padding-bottom: 75px;
}

.services__title {
	margin-bottom: 60px;
}

.services__item {
	display: flex;
	justify-content: space-between;
}

.services__info {
	max-width: 510px;
	width: 100%;
}

.services__box {
	margin-bottom: 50px;
}

.services__box-title {
	margin-bottom: 15px;
}

.services__box-info {
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #303030;
	letter-spacing: 0.4px;
}

.services__img {
}
